body.page-float{       background: darkseagreen;
}
  svg{
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  input#float-value{
    font-size: 5vw;
    position: relative;
    width: 40vw;
    z-index: 1;
    top: 80%;
  }
}
