body{
  margin: 0;
	background: linear-gradient(#7293A6 26%, #548295 69%, #3C6B7E 100%);
	//background-color: #A6C3FC;
	//background-color: #9FC1F8;
} 

svg{
	svg{
		display: none;
	}
}

input#float-value{
  position: absolute;
  left: 20px;
  top: 20px;
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
  
  font-size: 30px;
  outline: none;

  &::placeholder {
    color: black;
    opacity: 0.5;
  }
}
