body{
  margin: 0;
	background-color: #A6C3FC;
} 

svg{
  //margin-top: 3em;
  //height: 100vh;
  // bottom: 0;
  // left: 0;
  // position: absolute;
  // right: 0;
  // top: 0;
	svg{
		display: none;
	}
}

input#float-value{
  position: absolute;
  left: 20px;
  top: 20px;
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
  
  font-size: 30px;
  outline: none;

  &::placeholder {
    color: black;
    opacity: 0.5;
  }
}

/* g {
  display: none;
} */
